ロガー手順書.docx
ロガー手順書.pdf
新ロガー手順書.docx
2025-11-22-01/1.csv
2025-11-22-01/01tcut.zip
2025-11-22-01/analysis.py
2025-11-22-01/graph.py
2025-11-22-01/LOG-01.csv
2025-11-22-01/main.py
2025-11-22-01/re.csv
2025-11-22-01/__pycache__/analysis.cpython-313.pyc
2025-11-22-01/__pycache__/graph.cpython-313.pyc
2025-11-22-01/out/低域温度1.png
2025-11-22-01/out/低域温度2.png
2025-11-22-01/out/低域温度3.png
2025-11-22-01/out/圧力1\[Pa].png
2025-11-22-01/out/圧力2\[Pa].png
2025-11-22-01/out/圧力3\[Pa].png
2025-11-22-01/out/圧力4\[Pa].png
2025-11-22-01/out/推力\[N].png
2025-11-22-01/out/高域温度1.png
2025-11-22-01/out/高域温度2.png
2025-11-22-01/out2/低域温度1.png
2025-11-22-01/out2/低域温度2.png
2025-11-22-01/out2/低域温度3.png
2025-11-22-01/out2/圧力1\[Pa].png
2025-11-22-01/out2/圧力2\[Pa].png
2025-11-22-01/out2/圧力3\[Pa].png
2025-11-22-01/out2/圧力4\[Pa].png
2025-11-22-01/out2/推力\[N].png
2025-11-22-01/out2/高域温度1.png
2025-11-22-01/out2/高域温度2.png
2025-11-22-01/out3/低域温度1.png
2025-11-22-01/out3/低域温度2.png
2025-11-22-01/out3/低域温度3.png
2025-11-22-01/out3/圧力1\[Pa].png
2025-11-22-01/out3/圧力2\[Pa].png
2025-11-22-01/out3/圧力3\[Pa].png
2025-11-22-01/out3/圧力4\[Pa].png
2025-11-22-01/out3/推力\[N].png
2025-11-22-01/out3/高域温度1.png
2025-11-22-01/out3/高域温度2.png
2025-11-22-02/02tcut.zip
2025-11-22-02/analysis.py
2025-11-22-02/graph.py
2025-11-22-02/LOG-0000001-newconverted.csv
2025-11-22-02/LOG-0000001.csv
2025-11-22-02/main.py
2025-11-22-02/02tcut/低域温度1.png
2025-11-22-02/02tcut/低域温度2.png
2025-11-22-02/02tcut/低域温度3.png
2025-11-22-02/02tcut/圧力1\[Pa].png
2025-11-22-02/02tcut/圧力2\[Pa].png
2025-11-22-02/02tcut/圧力3\[Pa].png
2025-11-22-02/02tcut/圧力4\[Pa].png
2025-11-22-02/02tcut/推力\[N].png
2025-11-22-02/02tcut/高域温度1.png
2025-11-22-02/02tcut/高域温度2.png
2025-11-22-02/out3/低域温度1.png
2025-11-22-02/out3/低域温度2.png
2025-11-22-02/out3/低域温度3.png
2025-11-22-02/out3/圧力1\[Pa].png
2025-11-22-02/out3/圧力2\[Pa].png
2025-11-22-02/out3/圧力3\[Pa].png
2025-11-22-02/out3/圧力4\[Pa].png
2025-11-22-02/out3/推力\[N].png
2025-11-22-02/out3/高域温度1.png
2025-11-22-02/out3/高域温度2.png
2025-12-06-01/converted.csv
2025-12-06-01/LOG-0000001.csv
2025-12-06-01/no1 graph.zip
2025-12-06-01/no1.zip
2025-12-06-01/out/低域温度1.png
2025-12-06-01/out/低域温度2.png
2025-12-06-01/out/低域温度3.png
2025-12-06-01/out/全体推力\[N].png
2025-12-06-01/out/圧力1\[Pa].png
2025-12-06-01/out/圧力2\[Pa].png
2025-12-06-01/out/圧力3\[Pa].png
2025-12-06-01/out/圧力4\[Pa].png
2025-12-06-01/out/推力\[N].png
2025-12-06-01/out/高域温度1.png
2025-12-06-01/out/高域温度2.png
2025-12-06-01/tcut/低域温度1.png
2025-12-06-01/tcut/低域温度2.png
2025-12-06-01/tcut/低域温度3.png
2025-12-06-01/tcut/全体推力\[N].png
2025-12-06-01/tcut/圧力1\[Pa].png
2025-12-06-01/tcut/圧力2\[Pa].png
2025-12-06-01/tcut/圧力3\[Pa].png
2025-12-06-01/tcut/圧力4\[Pa].png
2025-12-06-01/tcut/推力\[N].png
2025-12-06-01/tcut/高域温度1.png
2025-12-06-01/tcut/高域温度2.png
2025-12-06-01/zentai/低域温度1.png
2025-12-06-01/zentai/低域温度2.png
2025-12-06-01/zentai/低域温度3.png
2025-12-06-01/zentai/圧力1\[Pa].png
2025-12-06-01/zentai/圧力2\[Pa].png
2025-12-06-01/zentai/圧力3\[Pa].png
2025-12-06-01/zentai/圧力4\[Pa].png
2025-12-06-01/zentai/推力\[N].png
2025-12-06-01/zentai/高域温度1.png
2025-12-06-01/zentai/高域温度2.png
2025-12-06-02/converted.csv
2025-12-06-02/LOG-0000001.csv
2025-12-06-02/no2 graph.zip
2025-12-06-02/no2.zip
2025-12-06-02/out/低域温度1.png
2025-12-06-02/out/低域温度2.png
2025-12-06-02/out/低域温度3.png
2025-12-06-02/out/全体推力\[N].png
2025-12-06-02/out/圧力1\[Pa].png
2025-12-06-02/out/圧力2\[Pa].png
2025-12-06-02/out/圧力3\[Pa].png
2025-12-06-02/out/圧力4\[Pa].png
2025-12-06-02/out/推力\[N].png
2025-12-06-02/out/高域温度1.png
2025-12-06-02/out/高域温度2.png
2025-8-31/LOG-0000001-newconverted.csv
2025-8-31/LOG-0000001.csv
2025-8-31/re.csv
2025-8-31/実験記録.zip
2025-8-31/graph/低域温度1.png
2025-8-31/graph/低域温度2.png
2025-8-31/graph/低域温度3.png
2025-8-31/graph/圧力1\[Pa].png
2025-8-31/graph/圧力2\[Pa].png
2025-8-31/graph/圧力3\[Pa].png
2025-8-31/graph/圧力4\[Pa].png
2025-8-31/graph/推力\[N].png
2025-8-31/graph/高域温度1.png
2025-8-31/graph/高域温度2.png
2025-8-31/graph tcut/低域温度1.png
2025-8-31/graph tcut/低域温度2.png
2025-8-31/graph tcut/低域温度3.png
2025-8-31/graph tcut/圧力1\[Pa].png
2025-8-31/graph tcut/圧力2\[Pa].png
2025-8-31/graph tcut/圧力3\[Pa].png
2025-8-31/graph tcut/圧力4\[Pa].png
2025-8-31/graph tcut/推力\[N].png
2025-8-31/graph tcut/高域温度1.png
2025-8-31/graph tcut/高域温度2.png
2025-8-31/outtest/低域温度1.png
2025-8-31/outtest/低域温度2.png
2025-8-31/outtest/低域温度3.png
2025-8-31/outtest/全体推力\[N].png
2025-8-31/outtest/圧力1\[Pa].png
2025-8-31/outtest/圧力2\[Pa].png
2025-8-31/outtest/圧力3\[Pa].png
2025-8-31/outtest/圧力4\[Pa].png
2025-8-31/outtest/推力\[N].png
2025-8-31/outtest/高域温度1.png
2025-8-31/outtest/高域温度2.png
__pycache__/analysis.cpython-313.pyc
__pycache__/graph_new.cpython-313.pyc
__pycache__/graph.cpython-313.pyc
__pycache__/hattori_analysis.cpython-313.pyc
__pycache__/michael_analysis.cpython-313.pyc
codetest/converted.csv
codetest/short.csv
codetest/out/低域温度1.png
codetest/out/低域温度2.png
codetest/out/低域温度3.png
codetest/out/全体推力\[N].png
codetest/out/圧力1\[Pa].png
codetest/out/圧力2\[Pa].png
codetest/out/圧力3\[Pa].png
codetest/out/圧力4\[Pa].png
codetest/out/平均推力\[N].png
codetest/out/推力\[N].png
codetest/out/高域温度1.png
codetest/out/高域温度2.png
codetest/out1/低域温度1.png
codetest/out1/低域温度2.png
codetest/out1/低域温度3.png
codetest/out1/全体推力\[N].png
codetest/out1/圧力1\[Pa].png
codetest/out1/圧力2\[Pa].png
codetest/out1/圧力3\[Pa].png
codetest/out1/圧力4\[Pa].png
codetest/out1/平均推力\[N].png
codetest/out1/平均推力と圧力比較.png
codetest/out1/推力\[N].png
codetest/out1/高域温度1.png
codetest/out1/高域温度2.png
concreate/concreate.csv
concreate/concreate2.csv
concreate/humanconcreate.csv
concreate/re1.csv
concreate/re2.csv
concreate/re3.csv
concreate/concreate/低域温度1.png
concreate/concreate/低域温度2.png
concreate/concreate/低域温度3.png
concreate/concreate/圧力1\[Pa].png
concreate/concreate/圧力2\[Pa].png
concreate/concreate/圧力3\[Pa].png
concreate/concreate/圧力4\[Pa].png
concreate/concreate/推力\[N].png
concreate/concreate/高域温度1.png
concreate/concreate/高域温度2.png
concreate/out1/低域温度1.png
concreate/out1/低域温度2.png
concreate/out1/低域温度3.png
concreate/out1/圧力1\[Pa].png
concreate/out1/圧力2\[Pa].png
concreate/out1/圧力3\[Pa].png
concreate/out1/圧力4\[Pa].png
concreate/out1/推力\[N].png
concreate/out1/高域温度1.png
concreate/out1/高域温度2.png
concreate/out2/低域温度1.png
concreate/out2/低域温度2.png
concreate/out2/低域温度3.png
concreate/out2/圧力1\[Pa].png
concreate/out2/圧力2\[Pa].png
concreate/out2/圧力3\[Pa].png
concreate/out2/圧力4\[Pa].png
concreate/out2/推力\[N].png
concreate/out2/高域温度1.png
concreate/out2/高域温度2.png
concreate/out22/低域温度1.png
concreate/out22/低域温度2.png
concreate/out22/低域温度3.png
concreate/out22/圧力1\[Pa].png
concreate/out22/圧力2\[Pa].png
concreate/out22/圧力3\[Pa].png
concreate/out22/圧力4\[Pa].png
concreate/out22/推力\[N].png
concreate/out22/高域温度1.png
concreate/out22/高域温度2.png
loadcell試験/LOG-0000001.csv
loadcell試験/LOG-0000002.csv
loadcell試験/LOG-0000003.csv
loadcell試験/LOG-0000004.csv
loadcell試験/LOG-0000005.csv
loadcell試験/LOG-0000006.csv
loadcell試験/rerere.csv
loadcell試験/rerere2.csv
loadcell試験/rerere4.csv
loadcell試験/rerere5.csv
loadcell試験/rerere6.csv
loadcell試験/out/低域温度1.png
loadcell試験/out/低域温度2.png
loadcell試験/out/低域温度3.png
loadcell試験/out/圧力1\[Pa].png
loadcell試験/out/圧力2\[Pa].png
loadcell試験/out/圧力3\[Pa].png
loadcell試験/out/圧力4\[Pa].png
loadcell試験/out/推力\[N].png
loadcell試験/out/高域温度1.png
loadcell試験/out/高域温度2.png
loadcell試験/out2/低域温度1.png
loadcell試験/out2/低域温度2.png
loadcell試験/out2/低域温度3.png
loadcell試験/out2/圧力1\[Pa].png
loadcell試験/out2/圧力2\[Pa].png
loadcell試験/out2/圧力3\[Pa].png
loadcell試験/out2/圧力4\[Pa].png
loadcell試験/out2/推力\[N].png
loadcell試験/out2/高域温度1.png
loadcell試験/out2/高域温度2.png
loadcell試験/out4/低域温度1.png
loadcell試験/out4/低域温度2.png
loadcell試験/out4/低域温度3.png
loadcell試験/out4/圧力1\[Pa].png
loadcell試験/out4/圧力2\[Pa].png
loadcell試験/out4/圧力3\[Pa].png
loadcell試験/out4/圧力4\[Pa].png
loadcell試験/out4/推力\[N].png
loadcell試験/out4/高域温度1.png
loadcell試験/out4/高域温度2.png
loadcell試験/out5/低域温度1.png
loadcell試験/out5/低域温度2.png
loadcell試験/out5/低域温度3.png
loadcell試験/out5/圧力1\[Pa].png
loadcell試験/out5/圧力2\[Pa].png
loadcell試験/out5/圧力3\[Pa].png
loadcell試験/out5/圧力4\[Pa].png
loadcell試験/out5/推力\[N].png
loadcell試験/out5/高域温度1.png
loadcell試験/out5/高域温度2.png
loadcell試験/out6/低域温度1.png
loadcell試験/out6/低域温度2.png
loadcell試験/out6/低域温度3.png
loadcell試験/out6/圧力1\[Pa].png
loadcell試験/out6/圧力2\[Pa].png
loadcell試験/out6/圧力3\[Pa].png
loadcell試験/out6/圧力4\[Pa].png
loadcell試験/out6/推力\[N].png
loadcell試験/out6/高域温度1.png
loadcell試験/out6/高域温度2.png
new/LOG-0000001.csv
new/rerere1.csv
new/out1/低域温度1.png
new/out1/低域温度2.png
new/out1/低域温度3.png
new/out1/圧力1\[Pa].png
new/out1/圧力2\[Pa].png
new/out1/圧力3\[Pa].png
new/out1/圧力4\[Pa].png
new/out1/推力\[N].png
new/out1/高域温度1.png
new/out1/高域温度2.png
toujitu/converted.csv
toujitu/LOG-0000001.csv
toujitu/outtest/低域温度1.png
toujitu/outtest/低域温度2.png
toujitu/outtest/低域温度3.png
toujitu/outtest/全体推力\[N].png
toujitu/outtest/圧力1\[Pa].png
toujitu/outtest/圧力2\[Pa].png
toujitu/outtest/圧力3\[Pa].png
toujitu/outtest/圧力4\[Pa].png
toujitu/outtest/推力\[N].png
toujitu/outtest/高域温度1.png
toujitu/outtest/高域温度2.png
はんだごて試験/LOG.csv
はんだごて試験/低域温度1.png
はんだごて試験/低域温度2.png
はんだごて試験/低域温度3.png
はんだごて試験/圧力1\[Pa].png
はんだごて試験/圧力2\[Pa].png
はんだごて試験/圧力3\[Pa].png
はんだごて試験/圧力4\[Pa].png
はんだごて試験/推力\[N].png
はんだごて試験/高域温度1.png
はんだごて試験/高域温度2.png
